{% extends 'timeentry/base.html' %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<div class="container">
<i>Note: Reliable data doesn't start until ~9/1/17</i><br>
Choose Start Date<br>

<form id="gobutton" action="">
<input id="startmonth" onchange="updateLink()" style="width: 40px;" type="number" pattern="\d*">/</input>
<input id="startday" onchange="updateLink()" style="width: 40px" type="number" pattern="\d*">/</input>
<input id="startyear" onchange="updateLink()" style="width: 60px" type="number" pattern="\d*"></input>
<br>
Choose End Date <br>
<input id="endmonth" onchange="updateLink()" style="width: 40px;" type="number" pattern="\d*">/</input>
<input id="endday" onchange="updateLink()" style="width: 40px" type="number" pattern="\d*">/</input>
<input id="endyear" onchange="updateLink()" style="width: 60px" type="number" pattern="\d*"></input>
    <input type="submit" value="Go" />
</form>
<button onclick="pastWeek()">Last Week</button>
<button onclick="pastMonth()">30 Days</button>
</div>
<script>
var d = new Date();
var aWeekAgo = new Date(Date.now() - 604800000);
var fourWeeks = new Date(Date.now() - 2592000000);
document.getElementById("endyear").value=new Date().getFullYear()
document.getElementById("endday").value=new Date().getDate()
document.getElementById("endmonth").value=new Date().getMonth() + 1
function pastWeek()
{
document.getElementById("startmonth").value=aWeekAgo.getMonth() + 1
document.getElementById("startyear").value=aWeekAgo.getFullYear()
document.getElementById("startday").value=aWeekAgo.getDate()
updateLink();
}
function pastMonth()
{
document.getElementById("startmonth").value=fourWeeks.getMonth() + 1
document.getElementById("startyear").value=fourWeeks.getFullYear()
document.getElementById("startday").value=fourWeeks.getDate()
updateLink();
}
function updateLink(){	
	var url_mask = "{% url 'foremenworked' 8888 7777 6666 5555 4444 3333 %}";
	url_mask = url_mask.replace(8888, document.getElementById("endyear").value.toString())
	url_mask = url_mask.replace(7777, document.getElementById("endmonth").value.toString())
	url_mask = url_mask.replace(6666, document.getElementById("endday").value.toString())
	url_mask = url_mask.replace(5555, document.getElementById("startyear").value.toString())
	url_mask = url_mask.replace(4444, document.getElementById("startmonth").value.toString())
	url_mask = url_mask.replace(3333, document.getElementById("startday").value.toString())
	//document.getElementById("gobutton").action="http://192.168.0.155:8000/timeentry/summary/"+document.getElementById("jobs").value;
	document.getElementById("gobutton").action=url_mask;
}
</script>
{% endblock %}