{% extends 'timeentry/base.html' %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="{% static 'proto.css' %}" />
<div style="text-align:center; font-size:2em;"><b><u>PROTO Entries for {{job}}</u></b></div>
<div style="text-align:center;"><a style="color:blue" href="{% url 'summary' job.number %}">Hours Summary</a></div>
<div class="container">
<div id="entries"></div>
</div>
<br><br>
<script>
var categories = [];
{% for category in categories %}
categories.push({Total: 0, Category: "{{category.name}}", Departments: []});
{% endfor %}
{% for department in departmentNum %}
for(var i in categories)
{
	categories[i].Departments.push({Total: 0, Department: {{department.number}}, Name: "{{department.description}}", Entries:[]});
}
{% endfor %}
{% for entry in needed_proto %}
for(var k in categories)
{
	if("{{entry.category.name}}"==categories[k].Category)
	{
		categories[k].Total+=1;
		for(var i in categories[k].Departments)
		{
			if(categories[k].Departments[i].Department == {{entry.department.number}} && categories[k].Departments[i].Name == "{{entry.department.description}}")
			{
				categories[k].Departments[i].Total+=1;
				categories[k].Departments[i].Entries.push({Entry: "{{entry.entry|linebreaksbr}}", ID: {{entry.id}}});
			}
		}
	}
}

{% endfor %}

for(var i in categories)
{
	if(categories[i].Total!=0)
	{
		document.getElementById("entries").innerHTML+="<br><div style='font-size:2em; text-align:center; border-bottom:1px black solid;'><b>"+categories[i].Category+"</b></div><br>";
		for(var j in categories[i].Departments)
		{
			if(categories[i].Departments[j].Total!=0)
			{
				document.getElementById("entries").innerHTML+="<div style='font-size:1.3em;'><b><u>"+categories[i].Departments[j].Department + " - " + categories[i].Departments[j].Name+"</u></b></div>";
				for (var k in categories[i].Departments[j].Entries)
				{
				document.getElementById("entries").innerHTML+="<br><a href='http://192.168.0.237:8000/timeentry/protoedit/"+categories[i].Departments[j].Entries[k].ID+"'>"+categories[i].Departments[j].Entries[k].Entry+"</a>";
				}
			}
		}
	}
}
</script>
{% endblock %}