{% extends 'timeentry/base.html' %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<div class="container">
	Select an employee: 
<select id="employees" onchange="updateLink()">
<option value="">----</option>
{% for employee in all_employees %}
<option value="{{employee.number}}">{{employee.number}} - {{employee.name}}</option>
{% endfor %}
</select>
<br><br><br>
Choose Year<br>
<form id="gobutton" action="">
<input id="year" onchange="updateLink()" style="width: 60px" type="number" pattern="\d*"></input>
    <input type="submit" value="Go" />
</form>
</div>
<script>
document.getElementById("year").value=new Date().getFullYear()
function updateLink(){	
	var url_mask = "{% url 'pto' 8888 9999 %}".replace(9999,document.getElementById("employees").value.toString());
	url_mask = url_mask.replace(8888, document.getElementById("year").value.toString())
	//document.getElementById("gobutton").action="http://192.168.0.155:8000/timeentry/summary/"+document.getElementById("jobs").value;
	document.getElementById("gobutton").action=url_mask;
}
</script>
{% endblock %}