{% extends 'timeentry/base.html' %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="container">
{% for people in person %}
<p style="text-align:center;"><u>{{people.number}} - {{people.name}} for week ending {{last_date}}</u></p><br>
<script>var person = {{people.number}}; </script>
{% endfor %}
<form id="prevweek" action="http://google.com">
    <input type="submit" value="Go to previous week" />
</form>
<form id="nextweek" action="http://google.com">
    <input type="submit" value="Go to next week" />
</form>
<script>

</script>
<script>
var reg = 0;
var ot = 0;
var dt = 0;
var total = 0;
var year = {{last_date.year}};
var month = {{last_date.month}} - 1;
var day = {{last_date.day}};
var prevd = new Date(year, month, day);
prevd.setDate(prevd.getDate()-7);
prevyear = prevd.getFullYear();
prevmonth = prevd.getMonth() + 1;
prevday = prevd.getDate();
var prevurl_mask = "{% url 'timecard' 9999 8888 7777 6666 %}".replace(9999,person);
prevurl_mask = prevurl_mask.replace(8888, prevyear.toString())
prevurl_mask = prevurl_mask.replace(7777, prevmonth.toString())
prevurl_mask = prevurl_mask.replace(6666, prevday.toString())
document.getElementById("prevweek").action=prevurl_mask;
var nextd = new Date(year, month, day);
nextd.setDate(nextd.getDate()+7);
nextyear = nextd.getFullYear();
nextmonth = nextd.getMonth() + 1;
nextday = nextd.getDate();
var nexturl_mask = "{% url 'timecard' 9999 8888 7777 6666 %}".replace(9999,person);
nexturl_mask = nexturl_mask.replace(8888, nextyear.toString())
nexturl_mask = nexturl_mask.replace(7777, nextmonth.toString())
nexturl_mask = nexturl_mask.replace(6666, nextday.toString())
document.getElementById("nextweek").action=nexturl_mask;
</script>
<table border="1" id="hours" style="text-align:left;">
			<tr>
				<th>Date</th>
				<th>Job</th>
				<th>Cat</th>
				<th>Task</th>
				<th>Reg</th>
				<th>OT</th>
				<th>DT</th>
				<th></th>
				{% if user.is_active %}<th></th>{% endif %}
			</tr>
{% for entry in needed_entries %}
<tr><td>{{ entry.date|date:"D" }} {{entry.date.month}}/{{entry.date.day}}/{{entry.date.year}}</td><td>{{entry.job.number}} {{entry.job.customer}} {{entry.job.name}}</td><td>{{entry.category}}</td><td>{{entry.task}}</td><td>{{entry.reg}}</td><td>{{entry.ot}}</td><td>{{entry.dt}}</td><td><a href="{% url 'entry-edit' entry.id %}">Edit</a></td>{% if user.is_active %}<td><a href="{% url 'entrydelete' entry.id %}">Delete</a></td>{% endif %}</tr>
<script>
reg += {{entry.reg}};
ot += {{entry.ot}};
dt += {{entry.dt}};
total = reg + ot + dt;
</script>
{% endfor %}
</table>
<div id="total">
</div>
<br>
{% if user.is_staff %}
<b><u>Clock-ins/outs:</b></u><br>
{% for clockin in needed_clockins %}
{{clockin.time}} <a href="{% url 'clockin-edit' clockin.id %}">Edit</a> <a href="{% url 'clockindelete' clockin.id %}">Delete</a><br>
{% endfor %}
{% endif %}
</div>
<br><br>
<script>
document.getElementById("hours").innerHTML+="<tr><td><b>Total</b></td><td></td><td></td><td></td><td>" + reg + "</td><td>" + ot + "</td><td>" + dt + "</td><td><b>" + total+"</b>";
</script>
{% endblock %}